/* Global styles */

// ::selection {
// background: $very-light-grey;
// color: $black;
// text-shadow: 0px 1px 1px rgba(black, 0.6);
// }

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;

  font-size: 62.5%; // 10px/ 10rem
}

body {
  margin: 0;

  font-family: $font-default;
  font-size: 1.4rem;
  font-weight: $font-weight-normal;
  line-height: $lh-default;
  color: $body-color;

  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($layer-0, 0); // 4
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1rem auto 1rem;
}
.pattern-preview {
  width: auto;
  padding: 1rem 0;

  overflow: hidden;
}

.section-start {
  height: 0.1rem;
  margin: -5rem 0 5rem;

  visibility: hidden;
}

.main {
  > *:nth-child(2) {
    grid-column: 2/3;
  }
}
