:root {
  --layer-0: #{inspect($layer-0)};
  --layer-1: #{inspect($layer-1)};
  --text-color-black: #{inspect($text-color-black)};
  --text-color-white: #{inspect($text-color-white)};
  --text-color-grey: #{inspect($text-color-grey)};
  --blue: #{inspect($blue)};
  --blue-400: #{inspect($blue-400)};
  --blue-600: #{inspect($blue-600)};

  --red: #{inspect($red)};
  --red-400: #{inspect($red-400)};
  --red-600: #{inspect($red-600)};
}
