:root {
  --layer-0: #{$layer-0};
  --layer-1: #{$layer-1};
  --text-color-black: #{$text-color-black};
  --text-color-white: #{$text-color-white};
  --text-color-grey: #{$text-color-grey};
  --blue: #{$blue};
  --blue-400: #{$blue-400};
  --blue-600: #{$blue-600};

  --red: #{$red};
  --red-400: #{$red-400};
  --red-600: #{$red-600};
}
