// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;

// Font families
$font-default: "Open Sans", "Segoe UI", Tahoma, sans-serif;
$headings-font-family: $font-default;

// Font size
$font-size-root: null !default;
$font-size-base: 1.6rem !default; // typically 1rem when browser default, typically `16px`

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Line heights
$lh-condensed-ultra: 1 !default;
$lh-condensed: 1.25 !default;
$lh-default: 1.5 !default;

// colors
// primeng colors
$white: #fff;
$black: #000;
$grey: #c8c8c8;
$layer-0: $white;
$layer-1: #f5f7f8;
$text-color-black: #333333;
$text-color-white: #fff;
$text-color-grey: #848484;
$blue: #007ad9;
$blue-400: lighten($blue, 10%);
$blue-600: darken($blue, 10%);
$red: adjust-hue($blue, 140deg);
$red-400: lighten($red, 10%);
$red-600: darken($red, 10%);

:root {
  --theme-color-400: #{$blue-400};
  --theme-color: #{$blue};
  --theme-color-600: #{$blue-600};
  --theme-text-primary: #{$text-color-black};
  --theme-text-secondary: #{$text-color-white};
}

$theme-color-400: var(--theme-color-400);
$theme-color: var(--theme-color);
$theme-color-600: var(--theme-color-600);

$body-bg: $layer-0 !default;
$body-color: $text-color-black !default;
$body-text-align: null !default;

// breakpoints
$min: 320px;
$sm: 576px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
