// Font families
$font-default: "Open Sans", "Segoe UI", Tahoma, sans-serif;

// Font size
$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
// Font weights
$font-weight-bold: 600 !default;
$font-weight-semibold: 500 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

// Line heights
$lh-condensed-ultra: 1 !default;
$lh-condensed: 1.25 !default;
$lh-default: 1.5 !default;

// colors
// primeng colors
$white: #fff;
$black: #000;
$grey: #c8c8c8;
$layer-0: $white;
$layer-1: #f5f7f8;
$text-color-black: #333333;
$text-color-white: #fff;
$text-color-grey: #848484;
$blue: #007ad9;
$blue-400: lighten($blue, 10%);
$blue-600: darken($blue, 10%);
$red: adjust-hue($blue, 140deg);
$red-400: lighten($red, 10%);
$red-600: darken($red, 10%);

:root {
  --theme-color-400: #{inspect($blue-400)};
  --theme-color: #{inspect($blue)};
  --theme-color-600: #{inspect($blue-600)};
  --theme-text-primary: #{inspect($text-color-black)};
  --theme-text-secondary: #{inspect($text-color-white)};
}

$theme-color-400: var(--theme-color-400);
$theme-color: var(--theme-color);
$theme-color-600: var(--theme-color-600);

$body-bg: $layer-0 !default;
$body-color: $text-color-black !default;
$body-text-align: null !default;
