@import "./core/variables";
@import "./core/mixins";
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: row nowrap;
  height: $header-height;
  padding: 0 1rem;
  align-items: center;
  background: white;
  box-shadow: 0 1px 8px 0 var(--layer-3);
  .menubar {
    margin-left: 0rem;
    transition: margin-left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .switch {
    margin-left: auto;
    line-height: 1;
  }
}
:host-context(.showSidebar) {
  header .menubar {
    margin-left: 5rem;
  }
}
