<main class="article-container">
  <h1>Code Guide</h1>
  <p>This Code Guide is largely based on <a href="https://codeguide.co/">codeguide.co.</a> and <a href="https://primer.style/css/">primer.style</a> </p>
  <div class="code-wrapper">
    <div class="col col-2">
      <h3>Practicality over purity</h3>
      <p>Strive to maintain HTML standards and semantics, but not at the expense of practicality. Use the least amount of markup with the fewest intricacies whenever possible.</p>
    </div>
  </div>
  <div class="code-wrapper">
    <div class="col">
      <h3>Media query placement</h3>
      <p>Place media queries as close to their relevant rule sets whenever possible. Don't bundle them all in a separate stylesheet or at the end of the document. Doing so only makes it easier for folks to miss them in the future. Here's a typical setup.</p>
    </div>
    <div class="col ">
      <pre>
        <code class="language-markup" [innerHTML]="html.syntax">
        </code>
      </pre>
    </div>
  </div>
  <div class="code-wrapper">
    <div>
      <h3>Media query placement</h3>
      <p>Place media queries as close to their relevant rule sets whenever possible. Don't bundle them all in a separate stylesheet or at the end of the document. Doing so only makes it easier for folks to miss them in the future. Here's a typical setup.</p>
    </div>
    <div class="col ">
      <pre>
        <code class="language-css" >
.btn {{'{'}}
   height: 40px;
   margin: 0 8px 4px 0;
   padding: 0 26px;
   font-family: $font-default;
   background-color: #399fd3;
   border-radius: 4px;
   border: none;
   color: white;
   overflow: visible; /* the overflow property removes extra width in IE */
{{'}'}}
 .btn:hover,
 .btn:focus {{'{'}}
   background-color: #7ab5d6;
{{'}'}}
 a.btn {{'{'}}
   display: inline-block;
   line-height: 40px;
{{'}'}}
        </code>
      </pre>
    </div>
  </div>
</main>
