<div id="app-wrapper"
     [ngClass]="{'sidebar-visible':(showSidebar),
    'is-mobile': mobile, 'is-desktop': !mobile}">
  <app-header class="header"></app-header>
  <div class="backdrop"
       [ngClass]="{'hide': !display}"
       (click)="unblock()"></div>
  <p-sidebar class="sidebar"
             [(visible)]="display"
             [ngClass]="{'sidebar-hide': !display, 'sidebar-show': display}"
             [modal]="false"
             [autoZIndex]=false
             [showCloseIcon]=false
             [closeOnEscape]=true
             [ngStyle]="{'opacity': 1}">
    <p-panelMenu [model]="items"
                 [multiple]="false">
    </p-panelMenu>
  </p-sidebar>

  <button class="sidebar-toggle"
          type="text"
          (click)="display = !display"
          pButton
          icon="pi pi-bars"
          aria-label="toggle sidebar"></button>
  <main class="main"
        [ngClass]="{'sidebar-hide': !display}">
    <router-outlet></router-outlet>
  </main>
  <footer>
    Footer
  </footer>
</div>
