@import "./core/variables";
@import "./core/mixins";

#app-wrapper {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  min-height: 100vh;

  app-header {
    z-index: 1002;

    background-color: var(--layer-0);
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);

    transition-duration: 400ms;
    transition-timing-function: ease;
    transition-property: background-color, visibility;
  }
  button.sidebar-toggle {
    position: fixed;
    top: 0.65rem;
    left: 1.65rem;
    // margin-left: -28rem;
    color: var(--theme-text-secondary);
    z-index: 1003;
  }

  main {
    grid-row: 2/3;
    transition: margin-left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  footer {
    grid-row: 3/4;
    height: 5rem;
    z-index: 1000;
    line-height: 5rem;
    text-align: center;
    background: var(--layer-0);
    box-shadow: 0 1px 8px 0 var(--layer-3);
  }

  // if we are on page width sidebar
  &.is-mobile {
    .backdrop {
      visibility: visible;
      display: block;
      &.hide {
        visibility: hidden;
        background-color: transparent;
        transition-duration: 0ms;
      }
    }
    button.sidebar-toggle {
      margin-left: 0;
    }
    main {
      margin-left: 0rem;
    }
  }
  &.sidebar-visible.is-desktop {
    button.sidebar-toggle {
      margin-left: 0;
    }
    main {
      margin-left: 28rem;
      &.sidebar-hide {
        margin-left: 0rem;
      }
    }
  }
}
