<div id="app-wrapper"
     [ngClass]="{'showSidebar':(showSidebar | async)}">
  <app-header class="header"></app-header>
  <p-sidebar class="sidebar"
             [(visible)]="display"
             [modal]="false"
             [ngClass]="{'hideSidebar': !display}">
    <p-panelMenu [model]="items"
                 [multiple]="false"></p-panelMenu>
  </p-sidebar>

  <button class="sidebar-toggle"
          type="text"
          (click)="display = !display"
          pButton
          icon="pi pi-bars"
          aria-label="toggle sidebar"></button>
  <main class="main"
        [ngClass]="{'hideSidebar': !display}">
    <router-outlet></router-outlet>
  </main>
  <footer>
    Footer
  </footer>
</div>
