<div class="article-types code-of-america">
  <h2 class="fragment"
      id="code-of-america">Code of America Style Guide</h2>
  <div class="pattern-preview"
       [innerHTML]="html | safeHtml">
  </div>
  <p-fieldset legend="{{btnState}}"
              [toggleable]="true"
              [collapsed]="true"
              (click)="switchBtnState()"
              #fieldset>
    <div class="content-wrapper">
      <div class="highlight">
        <strong>HTML:</strong>
        <pre>
      <code class="language-markup" [innerHTML]="htmlToken"></code>
    </pre>
      </div>
      <div class="highlight">
        <strong>CSS:</strong>
        <pre>
      <code class="language-css"[innerHtml]="cssToken"></code>
    </pre>
      </div>
    </div>
  </p-fieldset>
</div>
